<app-menu></app-menu>

<div class="parent">
    <div class="div1 text-center">
        <div class="titulo">
            <h1>HISTORIA </h1>
        </div>
        <div class="linea"></div>
    </div>
    <div class="div2">
        <div class="franja rounded"><i class="fas fa-info-circle"></i> Descripción </div>
        San Blas es una parroquia laica llena de plazas, restaurantes, hoteles y es la más visitada por turistas en el
        centro capitalino, en la calle Guayaquil se encuentra ubicada la plaza que lleva su nombre. Una de las cosas que
        más asombra del paso del tiempo es el cambio que ha tenido esta parroquia quiteña. ya que hace varios años atrás
        era una de las zonas rojas de Quito.
    </div>
    <div class="div3">
        <div class="franja rounded"><i class="fas fa-university"></i> Historia </div>
        El nombre del barrio fue otorgado gracias al santo de la sanidad. A San Blas se lo invocaba cuando alguien
        enfermaba y requería una cura milagrosa. Fue el cuidador de la parroquia que heredó su nombre y que por los años
        40 fue la puerta de ingreso a Quito. Pero el esmog, la venta de licor y la
        delincuencia anclaron al caserío a un rincón sombrío de la ciudad.
    </div>
    <div class="div4">
        <div class="div6">
            <div class="franja rounded"><i class="fas fa-mortar-pestle"></i> Tradiciones </div>
        </div>
        <div class="div7">
            <ul>
                <li><strong>Toros:</strong> Se lleva a cabo en la Plaza Belmonte, a
                    finales de Noviembre e inicios de Diciembre.</li>
            </ul>
        </div>
        <div class="div8">
            <ul>
                <li><strong>Quito ciudad de los geranios: </strong> Se celebra engalanando los balcones
                    de las casas del Centro Histórico con miles de geranios</li>
            </ul>
        </div>
        <div class="div9">
            <ul>
                <li><strong>Campeonato mundial de 40: </strong> Los adultos mayores se acercan a las plazas y lugares del sector a celebrar el campeonato</li>
            </ul>
        </div>


    </div>
    <div class="div5">
        <img class="img-fluid" src="assets/sanblas_antiguo.jpg" alt="">
    </div>
</div>
<br>
<br>
<app-footer></app-footer>