<app-menu></app-menu>

<div class="parent">
    <div class="div1">
        <div class="titulo text-center">
            <h1>ACERCA DE MI </h1>
        </div>
        <div class="linea"></div>
    </div>
    <div class="div2">
        <div class="franja rounded"> <i class="fas fa-user"></i> Biografía </div><br>
        <p>Mi nombre es Michael Javier Robles Ledesma tengo 23 años, nací en Quito - San Blas,estudio actualmente una
            ingeniería en ciencias de la computación en la
            universidad Politécnica Salesiana - Ecuador,me encanta el mundo de la programación y me encanta aprender
            cosas nuevas
            relacionada a la misma, existen varios valores que me definen como por ejemplo: </p>
        <ul>
            <li>Creativad</li>
            <li>Flexibilidad</li>
            <li>Amor por el aprendizaje</li>
            <li>Adaptabilidad</li>
        </ul>
        <p>
            Estoy profundizando mis conocimientos en el desarrollo full stack como perfil que comprende los
            componentes del desarrollo web, el desarrollo frontend y backend. Enfocándome en el trabajo en el lado del
            servidor como
            en el lado del cliente. Poseo un amplio conjunto de habilidades y una amplia base de conocimientos,
            necesarios para crear un sitio web en pleno funcionamiento y actualmente estoy desarrollando un proyecto
            full-stack para la federación de mi carrera, además de crear ésta página ya que soy un
            habitante del sector San Blas y decidí desarrollarla para aumentar el conocimiento
            de las personas que quieran visitar este lugar, desde conocer su historia, tradiciones, eventos y aún más
            que se vienen fiestas de
            Quito y aumenta el índice de Turistas en todo el casco Histórico, incluyendo al barrio en general.

    </div>
    <div class="div3 text-center">
        <img class="img-fluid img_acerca rounded" src="assets/mike.jpg" alt="">

    </div>
    <div class="div9">
        <div class="franja rounded"><i class=" fas fa-dumbbell"></i> Hobbies</div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img_1.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">1) Conocer lugares turísticos</h5>
                        <p class="card-text">Me encanta viajar y conocer diferentes lugares turísticos, con mi familia
                            uno de ellos fue al columpio "Fin del Mundo " que yace en una casa en el árbol. ... Este columpio no tiene
                            arneses y se sitúa sobre un precipicio de dos mil 600 metros de altura, enganchado desde
                            esta idílica casa del árbol que es, en realidad, un centro de control sísmico.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img_2.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">2) Entrenar</h5>
                        <p class="card-text">Mi hobbie preferido es ir al gimnasio ya que es de gran ayuda para poder
                            desestresarme y mejorar mi salud física y mental</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img_3.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">3) Ver películas y series</h5>
                        <p class="card-text">Me encantan realizar maratones de peliculas y series, pero entre mis
                            favoritas se encuentra Elite la cual
                            se desarrolla en Las Encinas, un colegio exclusivo del país, donde un dia la ciudad sufre un
                            gran terremoto que destruye el colegio público y los alumnos se ven obligados a ser
                            repartidos por otras escuelas de la localidad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div10">
        <div class="franja rounded"><i class=" fas fa-dumbbell"></i> Cursos Realizados</div>
        <br>
        <dl>
            <ol>
            <dt><li><i>Harvard University</i></li></dt>
            <dd>CS50's Introduction to Computer Science</dd>
            <dd><strong>Duración: </strong> 12 semanas</dd>
             <br>
            <dt><li><i>Universidad Complutense de Madrid (Google Activate)</i></li></dt>
            <dd>Desarrollo de APPS móviles</dd>
            <dd><strong>Duración: </strong> 40 horas</dd>
             <br>
            <dt><li><i>SOLARI</i></li></dt>
            <dd>Manejo de Productos Microsoft Office avanzado </dd>
            <dd><strong>Duración: </strong> 60 horas</dd>
            <br>
            <dt><li><i>Universidad Central del Ecuador (FLISOL)</i></li></dt>
            <dd>V Jornadas Internacionales , V Congreso Nacional de Ciencias Software Libre y nuevas tecnologías aplicadas a la educación y III encuentro de docentes de informática y física </dd>
            <dd><strong>Duración: </strong> 40 horas</dd>
            <br>
            <dt><li><i>Universidad de Cambridge</i></li></dt>
            <dd>5<sup>to</sup>nivel Suficiencia de Inglés (B1)</dd>
            <dd><strong>Duración: </strong> 2019 - 2021</dd>
           </ol>
        </dl>
    </div>
    <div class="div4">
        <div class="div5">
            <div class="franja rounded"><i class="fas fa-brain"></i> Habilidades </div>
        </div>
        <div class="div6">
            <div class="franjalen rounded"><i class="fab fa-python"></i> Lenguajes de programación </div>
            <table style="width: 70%; height: 150px;font-size: 20px;margin: 30px;">
                <ul>
                    <tr>
                        <td><i>
                                <li>Java</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>JavaScript</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>C#</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Python</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>C++</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>PHP</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>SQL</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                </ul>
            </table>
        </div>
        <div class="div7">
            <div class="franjasoft rounded"><i class="fas fa-laptop-code"></i> Software </div>
            <table style="width: 70%; height: 150px;font-size: 20px;margin: 30px;">
                <ul>
                    <tr>
                        <td><i>
                                <li>Visual Studio Code</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Eclipse IDE</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>NetBeans IDE</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Microsoft Word</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&starf;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Power Point</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&starf;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Adobe Photoshop</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Wondershare Filmora</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Unity</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Oracle VM Virtual Box</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Cisco Packet Tracer</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>Adobe After Effects</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td><i>
                                <li>pgAdmin</li>
                            </i></td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                </ul>
            </table>
        </div>
        <div class="div8 text-center">
            <div class="franjaidiom rounded"><i class="fas fa-language"></i> Idiomas</div>
            <br>
            <blockquote> &check;&nbsp;<i>Español</i><br></blockquote>
            <blockquote> &check;&nbsp;<i>Inglés</i></blockquote>
        </div>

    </div>
</div>
<br>
<br>
<app-footer></app-footer>